<div>
  <h2 class="title">Welcome, {{ loggedInUser.name }}</h2>

  <div *ngIf="activeBookingRequest$|async as request" class="booking-request">
    <h3>Your current booking</h3>
    <p><strong>Status:</strong> {{ request.status }}</p>
    <p><strong>From:</strong> {{ request.pickupLocation.readableName }}</p>
    <p><strong>To:</strong> {{ request.dropoffLocation.readableName }}</p>
  </div>

  <div *ngIf="currentBooking$|async as activeBooking" class="booking-request">
    <h3>Your current booking</h3>
    <p><strong>Status:</strong> {{ activeBooking.status }}</p>
    <p><strong>From:</strong> {{ activeBooking.request.pickupLocation.readableName }}</p>
    <p><strong>To:</strong> {{ activeBooking.request.dropoffLocation.readableName }}</p>
    <p><strong>Taxi:</strong> {{ activeBooking.taxi.numberPlate }}</p>
  </div>

  <div *ngIf="(!(activeBookingRequest$|async))&& (!(currentBooking$|async))" class="booking-form">
    <div>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Source</mat-label>
        <input type="text" matInput [formControl]="pickupLocControl" [matAutocomplete]="sourceAuto"
          (blur)="validateSelected(pickupLocControl)">>
        <mat-autocomplete #sourceAuto="matAutocomplete" [displayWith]="displayLocationName">
          <mat-option *ngFor="let location of filteredSources | async" [value]="location">
            {{ location.readableName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Destination</mat-label>
        <input type="text" matInput [formControl]="dropOffLocControl" [matAutocomplete]="destAuto"
          (blur)="validateSelected(dropOffLocControl)">>
        <mat-autocomplete #destAuto="matAutocomplete" [displayWith]="displayLocationName">
          <mat-option *ngFor="let location of filteredDestinations | async" [value]="location">
            {{ location.readableName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onRequestTaxi()">Request Booking</button>
    </div>
  </div>
</div>