<div>
  <h2 class="title">Welcome, {{ loggedInUser.name }}</h2>

  <div *ngIf="activeBooking">
    <h3>Your current booking</h3>
    <p><strong>Status:</strong> {{ activeBooking.status }}</p>
    <p><strong>From:</strong> {{ activeBooking.pickupLocation.readableName }}</p>
    <p><strong>To:</strong> {{ activeBooking.dropoffLocation.readableName }}</p>
  </div>

  <div *ngIf="!activeBooking" class="booking-form">
    <div>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Source</mat-label>
        <input type="text" matInput [formControl]="pickupLocControl" [matAutocomplete]="sourceAuto">
        <mat-autocomplete #sourceAuto="matAutocomplete" [displayWith]="displayLocationName">
          <mat-option *ngFor="let location of filteredSources | async" [value]="location">
            {{ location.readableName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Destination</mat-label>
        <input type="text" matInput [formControl]="dropOffLocControl" [matAutocomplete]="destAuto">
        <mat-autocomplete #destAuto="matAutocomplete" [displayWith]="displayLocationName">
          <mat-option *ngFor="let location of filteredDestinations | async" [value]="location">
            {{ location.readableName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onRequestTaxi()">Request Booking</button>
    </div>
  </div>
</div>