<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <h2 class="mat-headline">Admin Dashboard</h2>
    <mat-nav-list>
      <mat-list-item 
        (click)="selectReport('Taxi Report')" 
        [class.active]="(selectedReport$ | async) === 'Taxi Report'">
        Taxi Report
      </mat-list-item>
      <mat-list-item 
        (click)="selectReport('Booking Reports')" 
        [class.active]="(selectedReport$ | async) === 'Booking Reports'">
        Booking Reports
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="dashboard-content">
    <mat-card>
      <ng-container *ngIf="selectedReport$ | async as selectedReport">
        <mat-card-title>{{ selectedReport }}</mat-card-title>
        <mat-card-content>
          <ng-container [ngSwitch]="selectedReport">
            <app-taxi-report *ngSwitchCase="'Taxi Report'"></app-taxi-report>
            <app-booking-report *ngSwitchCase="'Booking Reports'"></app-booking-report>
            <div *ngSwitchDefault>Select a report to view.</div>
          </ng-container>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
