<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <h2 class="mat-headline">Admin Dashboard</h2>
    <mat-nav-list>
      <mat-list-item *ngFor="let report of reportTypes" (click)="selectReport(report)"
        [class.active]="(selectedReport$ | async) === report">
        {{ report }}
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="dashboard-content">
    <mat-card>
      <ng-container *ngIf="selectedReport$ | async as selectedReport">
        <mat-card-title>{{ selectedReport }}</mat-card-title>
        <mat-card-content>
          <ng-container *ngIf="reportComponentMap[selectedReport] as component" [ngComponentOutlet]="component">
          </ng-container>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>