<mat-card class="dashboard-card">
    <mat-card-title>Taxi Dashboard: {{ loggedInTaxi.numberPlate }}</mat-card-title>
    <mat-card-content>
        <div class="form-grid">
            <mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <input type="text" matInput [formControl]="locationControl" [matAutocomplete]="sourceAuto"
                    (blur)="validateSelected(locationControl)">
                <mat-autocomplete #sourceAuto="matAutocomplete" [displayWith]="displayLocationName">
                    <mat-option *ngFor="let location of locationList$ | async" [value]="location">
                        {{ location.readableName }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [value]="loggedInTaxi.currentStatus" (selectionChange)="onStatusChange($event.value)">
                    <mat-option *ngFor="let opt of statusOptions" [value]="opt">
                        {{ opt }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Current Booking</mat-card-title>
    <mat-list>
        <mat-list-item *ngIf="currentBooking$ | async as booking">
            <div>
                (Request ID: <code>{{ booking.request.uuid }}</code>)
            </div>
            <div>
                Passenger is waiting at <strong>{{ booking.request.pickupLocation.readableName }}</strong>
            </div>
        </mat-list-item>
        <mat-list-item *ngIf="!(currentBooking$ | async)">
            <i>No current booking</i>
        </mat-list-item>
    </mat-list>
</mat-card>